:root {
    --main-color:  #4c1130;
    --secondary-color: #6aa84f;
    --accent-color:#c46e58;
    --text-color: #45749d;
    --background-color:#ff00b7;
}

body {
    font-family: Arial, sans-serif;
    background: #c46e58;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background:#4c1130;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #45749d;
}

h1 {
    color: #6aa84f;
}

.form-group {
    margin: 15px 0;
}

label {
    font-size: 18px;
    color:#6aa84f;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 2px solid  #45749d;
    border-radius: 5px;
    width: 70%;
    font-size: 16px;
}

button {
    background: color#ff00b7;
    color: rgb(153, 119, 192);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer; 
}

button:hover {
    background-color: #c46e58;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

thead th {
    background-color:#c46e58;
    color: rgb(49, 70, 12);
    padding: 10px;
    font-size: 18px;
}

tbody td {
    padding: 10px;
    border: 1px solid #45749d;
}

.average-temperature {
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
    color:#45749d;
}